/* ---------------------------------------------------------------------------------------------- */
/* VARIABLES -  Fonts, colors, measurements, animations */
/* ---------------------------------------------------------------------------------------------- */

/* Color Variables -------------------------------------------------------- */
$red: #c20000;
$blue: #0c4365;
$blue-dark: #08324c;
$gray: #999;
$gray-light: #ccc;
$gray-ultra-light: #efefef;
$black: #000;
$white: #fff;

/* Fonts -------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');

h1,h2,h3,h4,h5,h6,p,a,span{
	font-family: 'Source Sans Pro', sans-serif !important;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 700 !important;
}
p{
	font-weight: 400 !important;
}
h1{
	font-size: 2.2rem !important;
	line-height: 2.2rem !important;
}
h2{
	font-size: 1.7rem !important;
	line-height: 1.9rem !important;
	margin-bottom: 0.3rem !important;
}
h3{
	font-size: 1.45rem !important;
	line-height: 1.6rem !important;
	margin-bottom: 0.3rem !important;
}
h4{
	font-size: 1.2rem !important;
	line-height: 1.35rem !important;
	margin-bottom: 0.3rem !important;
}
h5{
	font-size: 0.9rem !important;
	line-height: 1.5rem !important;
	margin-bottom: 0 !important;
}
h6{
	font-size: 0.65rem !important;
	line-height: 1.5rem !important;
	margin-bottom: 0 !important;
}
p{
	font-size: 0.9rem !important;
	line-height: 1.5rem !important;
	margin-top: 0 !important;
	margin-bottom: 0.9rem;
}
span{
	font-size: 0.9rem !important;
	line-height: 1.5rem !important;
}
ul{
	margin-top: 0.9rem;
	margin-bottom: 0.9rem;
}
li{
	font-size: 0.9rem !important;
	line-height: 1.5rem !important;
}
a{
	color: $blue-dark;
}
/* Gray */
a:hover{
	color: $gray;
}
.red,
.star{
	color: $red;
}

/* ---------------------------------------------------------------------------------------------- */
/* Tools - Global mix-ins and functions */
/* ---------------------------------------------------------------------------------------------- */

@import "nucleus/mixins/breakpoints";
@import "dependencies";

/* ---------------------------------------------------------------------------------------------- */
/* General - Browser resets/normalize styles, box sizing) */
/* ---------------------------------------------------------------------------------------------- */
 
#g-header,
#g-intro,
#g-feature,
#g-utility,
#g-above,
#g-testimonals,
#g-expanded,
#g-mainbar,
#g-footer{
	padding-top: 0;
	padding-bottom: 0;
 }
 /* Mobile Fix */
@media only all and (max-width: 48rem){
	body {
	    padding-right: 0;
	    padding-left: 0;
	}
}

/* ---------------------------------------------------------------------------------------------- */
/* Base Elements - Styles for HTML elements */
/* ---------------------------------------------------------------------------------------------- */

.btn,
button, 
button.btn, 
input[type="submit"],
input[type="submit"].btn,
.btn-primary,
.login .btn,
.edit.item-page .btn-toolbar .btn, .pager.pagenav a, p.readmore .btn, .contact .form-actions .btn, #contact-form .controls .btn-primary.validate, .profile .btn, .login .btn, .logout .btn, .registration .btn, .profile-edit .btn, .remind .btn, .reset .btn, .search #searchForm .btn, .finder #searchForm .btn, .search #search-form .btn, .finder #search-form .btn{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.8rem;
	line-height: 0.8rem;
	font-weight: 700;
	color: $white;
	text-transform: uppercase;
	text-align: center;
	text-shadow: none;
	background: $blue;
	border-radius: 0.15rem;
	margin: 1rem 0 1rem;
	padding: 10px 15px;
}
.btn:hover,
.btn:focus
button:hover,
button.btn:hover, 
input[type="submit"]:hover,
input[type="submit"].btn:hover,
.btn-primary:hover,
.login .btn{
	color: $white;
	background: $gray;
}
hr{
	clear:both;
}
/* Frontend Edit Button */
.icons .btn-group .btn{
	margin-top: 0 !important;
}


/* ---------------------------------------------------------------------------------------------- */
/* Components - Specific components unique to the design, .panel, .form, breadcrumb, nav */
/* ---------------------------------------------------------------------------------------------- */

/* Main Navigation -------------------------------------------------------- */
/* Container */

#g-navigation{
	border-bottom: 3px solid $blue;
    height:67px;
}
#g-navigation .g-content{
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
#g-navigation .g-menu-parent-indicator{
	display: none;
}
#g-navigation .g-main-nav .g-toplevel > li.active > .g-menu-item-container > .g-menu-item-content{
	box-shadow: none;
}

/* Logo */
#g-navigation ul.g-toplevel{
	text-align: right;
}
#site-logo div{
	padding-top: 12px !important;
}
@media only all and (max-width: 48rem){
	#site-logo div{
		text-align: center;
	}
}
/* Toplevel Menu */
#g-navigation .g-main-nav .g-toplevel > li > .g-menu-item-container{
	padding: 1.3rem 1rem 1.3rem 0rem;
	margin: 0;
	font-size: 0.95rem;
	line-height: 0.95rem;
	font-weight: bold;
}
#g-navigation .g-main-nav .g-toplevel > li:hover > .g-menu-item-container, 
#g-navigation .g-main-nav .g-toplevel > li.active > .g-menu-item-container{
	color: $gray;
	font-weight: bold;
	background: rgba(0 0 0 0.2);
}
#g-navigation .g-main-nav .g-toplevel > li > .g-menu-item-container > .g-menu-item-content{
	padding: 0;
}

/* Sublevel Menu */
#g-navigation .g-main-nav .g-dropdown{
	border: none;
	border-radius: 0;
	background: none;
}
.g-main-nav .g-sublevel > li > .g-menu-item-container{
	padding: 0;
	margin: 0;
}
.g-main-nav .g-standard > .g-dropdown,
.g-main-nav .g-fullwidth > .g-dropdown{
	margin-top: 0;
}
.g-main-nav .g-sublevel > li{
	margin: 0;
	padding: 10px 10px 10px;
	background: $blue;
}
.g-main-nav .g-sublevel > li:hover{
	background: $blue-dark;
	border-color: $blue-dark;
}
#g-navigation .g-main-nav .g-dropdown .g-dropdown{
	margin-left: 0;
}
#g-navigation .g-main-nav .g-dropdown-column .g-dropdown{
	margin-top: 6px;
}
#g-navigation .g-main-nav .g-sublevel > li:not(:last-child) > .g-menu-item-container{
	border: none;
}
.g-main-nav .g-sublevel .g-menu-item-title{
	color: $white;
}
.g-main-nav .g-standard .g-dropdown .g-dropdown.g-dropdown-right {
   right: 100%;
   left: auto;
}

/* Off Canvas */
.g-offcanvas-toggle{
	position: fixed;
	top: 1.1rem;
	color: $blue;
}
.g-offcanvas-open .g-offcanvas-toggle{
	color: $gray;
}
#g-offcanvas #g-mobilemenu-container ul > li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module) > .g-menu-item-container{
	font-weight: bold;
}
#g-offcanvas #g-mobilemenu-container ul > li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).active > .g-menu-item-container,
#g-offcanvas #g-mobilemenu-container ul > li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module):hover > .g-menu-item-container{
	background: $white;
	color: $blue;
	font-weight: bold;
}

/* ---------------------------------------------------------------------------------------------- */
/* Utilities - Utilities/helper classes that override, only place for !important */
/* ---------------------------------------------------------------------------------------------- */

/* RSForms Overides -------------------------------------------------------- */
.esu-form .form-horizontal .control-group{
	margin-bottom: 0;
}
.esu-form .form-horizontal .control-label{
	float: none;
	text-align: left;
	padding-top: 0.75rem;
	width: 100%;
}
.esu-form .form-horizontal .controls{
	margin-left: 0;
}
.rsform-captcha-refresh-button{
	margin-left: 1rem;
	margin-right: 1rem;
}

.formRed,
.rdd-form .formRequired,
.formError,
.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline{
	color: $red;
}
.formError{
	font-weight: 400;
}
p.formRed{
	margin-bottom: 0;
}
input[type="submit"]{
	margin-top: 0 !important;
}
input[type="color"]:hover, 
input[type="date"]:hover, 
input[type="datetime"]:hover, 
input[type="datetime-local"]:hover, 
input[type="email"]:hover, 
input[type="month"]:hover, 
input[type="number"]:hover, 
input[type="password"]:hover, 
input[type="search"]:hover, 
input[type="tel"]:hover, 
input[type="text"]:hover, 
input[type="time"]:hover, 
input[type="url"]:hover, 
input[type="week"]:hover, 
input:not([type]):hover, 
textarea:hover,
textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, 
.uneditable-input:focus{
    border-color: rgba(12, 67, 101, 0.4);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(12, 67, 101, 0.3);
}

/* Form specific overrides */

/* Login/registration */
.login{
	max-width: 300px;
	margin: auto;
}
.registration{
	max-width: 500px;
	margin: auto;
}
.login form,
.registration form{
	background: none;
	box-shadow: none;
}
.login .controls,
.registration .controls{
	margin-left: 0;
}
.login .control-label,
.registration .control-label{
	text-align: left;
	font-size: 0.9rem;
	line-height: 1.5rem;
	padding-top: 0;
}
.login .btn{
	margin-top: 0;
	margin-bottom: 0;
}
.registration .btn{
	margin-bottom: 0;
}
.login-page .nav{
	text-align: center;
}
.login-page .nav a{
	padding-top: 0px;
	padding-bottom: 10px;
	font-size: 0.75rem;
	line-height: 0.75rem;
}
.register-page legend{
	margin-bottom: 0;
	color: $blue;
}
.register-page div.popover{
	display: none !important;
}

/* Contact form */
#contact.esu-form{
	max-width: 700px;
	margin: auto;
}

/* Unite Gallery Overides -------------------------------------------------------- */
#unitegallery_2_1_tabs.ug-tabs-wrapper a.ug-tab{
	margin-left: 10px !important;
	margin-bottom: 10px;
}
div.ug-thumb-wrapper{
    border-color: $gray-ultra-light !important;
}





/* Recipe Book Overides -------------------------------------------------------- */


/* Recipe Image */
.recipes-page .item-image{
	display: block;
	width: 50%;
}
@media only all and (max-width: 48rem){
	.recipes-page .item-image{
		width: 100%;
		margin: 0 auto 1rem;
	}
}

/* Article Info */
.recipes-page .article-info{
	margin-bottom: 1rem;
}
.recipes-page dl.article-info dd{
	display: block;
}

.recipes-page .filters .btn-group{
	width: 100%;
	max-width: 400px;
}

.recipes-page .filter-search{
	width: 100%;
}










